*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", Calibri, Tahoma, sans-serif;
}
:root{
    --primaryColor: #0D0D0D;
    --secondaryColor:#000000;
    --main-Color:#FFD700;
    --text-color: #ffffff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--primaryColor);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.header .sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: default;
    cursor: pointer;
}


.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all .3s ease-in-out;
}

.navbar a:hover {
    color: var(--main-Color);
    transition: all .3s ease-in-out;
}

#menu{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_contant h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home_contant h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-Color);
}

.home_contant h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home_img img{
    width: 35vw;
}

.home_contant p{
    font-size: 1.6rem;
}

.social_media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-Color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-Color);
    margin: 3rem 1.5rem 3rem 0;
    transition: all 0.3s ease-in-out;
}

.social_media a:hover{
    cursor: pointer;
    background: var(--main-Color);
    color: var(--primaryColor);
    box-shadow: 0 0 1rem var(--main-Color);
    transition: all 0.3s ease-in-out;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-Color);
    border-radius: 4rem;
    text-decoration: none;
    box-shadow: 0 0 .3rem var(--main-Color);
    font-size: 1.5rem;
    color: var(--primaryColor);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn:hover{
    box-shadow: none;
    transition: all 0.3s ease-in-out;

}

.about h2{
    font-size: 4.5rem;
    padding-bottom: 1.5rem;
}

.about h3{
    font-size: 3.2rem;
    padding-bottom: 1.5rem;
}

.home_list dt{
    float: left;
    font-weight: bold;
    color: var(--main-Color);
    font-size: 1.6rem;
}

.home_list dd{
    padding-left: 6.5em;
    font-size: 1.6rem;
}

.det h3{
    padding: 1.2rem 0;
    font-size: 3.2rem;
}

.det p{
    font-size: 1.6rem;
    padding: 1.2rem 0;
}

.skills h2{
    font-size: 4.5rem;
    padding-bottom: 2rem;
}


/* .skills_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
    padding-bottom: 30px;
}

/* .skills i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background: transparent;
    border: .2rem solid var(--main-Color);
    border-radius: 50%;
    font-size: 3rem;
    color: var(--main-Color);
    margin: 3rem 1.5rem 3rem 0;
    transition: all 0.3s ease-in-out;
} */

/* .skill_icon img{
    width: 100px;
    height: 100px;
    padding: 10px;
}

.skill_icon img:hover{
    cursor:pointer;

    -webkit-filter: drop-shadow(0px 0px 9px #68bcdf);
    transform: scale(1.06);
} */

.cont{
    display: flex;
    justify-content: space-between;
}

.container2{
    position:relative;
    max-width: 500px;
    width: 100%;
    background-color: var(--main-Color);
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
}

.container1{
    position:relative;
    max-width: 500px;
    width: 100%;
    height: auto;
    background-color: var(--main-Color);
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
}

.container .skill_box{
    width: 100%;   
    margin: 25px 0;
}

.skill_box .title{
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px 0;
    color: #0D0D0D;
}

.skill_box .skill_bar{
    width:100%;
    height: 8px;
    border-radius: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    background: rgba(0, 0, 0, 0.1);
}

.skill_box .skill_per{
    position: relative;
    display: block;
    height: 100%;
    width: 85%;
    border-radius: 6px;
    background: var(--primaryColor);
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

.skill_per.css{
    width: 70%;
}
.skill_per.js{
    width: 50%;
}
.skill_per.react{
    width: 30%;
}
.skill_per.c{
    width: 60%;
}
.skill_per.cplusplus{
    width: 50%;
}
.skill_per.python{
    width: 70%;
}
.skill_per.open{
    width: 65%;
}



@keyframes progress {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.skill_box .tooltip{
    color: #f5f5f5;
    position: absolute;
    right: -14px;
    top: -23px;
    font-size: 1rem;
    font-weight: 500;
    padding: 2px 6px;
    border-radius: 3px;
    background: var(--primaryColor);
    z-index: 1;
}

.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    height: 10px;
    width: 10px;
    bottom: -2px;
    background-color: var(--primaryColor);
    z-index: -1;
    transform: translateX(-50%) rotate(45deg);
}
.contact_container{
    width: 100%;
    height: 60Vh;
    background: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 700px;
    border-radius: 10px;
}

.contact h3{
    color: var(--text-color);
    font-weight: 800;
    font-size: 4.5rem;
    margin-bottom: 20px;
}

form input, textarea{
    border: 0;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    background-color: #f5f5f5;
    font-size: 16px;
    border-radius: 10px;
}

form button{
    padding: 10px;
    background-color: var(--main-Color);
    color: var(--primaryColor);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    outline: none;
    border: 0;
    letter-spacing: .1rem;
    border-radius: 10px;
    width: 150px;
    margin: 20px auto 0;
    box-shadow: 0 0 .3rem var(--main-Color);
    transition: all .3s ease-in-out;
}

form button:hover{
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.footer{
    display:flex ;
    justify-content: space-between;
    flex-wrap: center;
    background: var(--main-Color);
    align-items: center;
    padding: 2rem 9%;
}

.footer_text p{
    font-size: 1.6rem;
    color: #0D0D0D;
}

.footer_icon a{
    color: var(--primaryColor);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--primaryColor);
    border-radius: 50%;
    font-size: 2rem;
    margin: .5rem .5rem .5rem 0;
    margin-left: 350px;
}


/* breakpoint */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    header {
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu {
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--primaryColor);
        border-top: .1rem solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;

    }

    .home{
        flex-direction: column;
    }

    .home_contant h3{
        font-size: 2.6rem;
    }

    .home_contant h1{
        font-size: 5rem;
        padding: 8px;
    }

    .home_img img{
        width: 75vw;
    }

    .about{
        flex-direction: column-reverse;
        padding-left: 10px;
    }

    .about h2{
        text-align: center;
        font-size: 5rem;
    }

    .about p {
        line-height: 1.8;
        padding-left: 10px;
    }

    .about .home_list, h3 {
        padding: 10PX;
        font-size: 2.6rem;
    }

    .about h3{
        padding: 10px;
    }

    .skills h2{
        text-align: center;
        font-size: 5rem;
    }

    .cont{
        display: block;
        margin-top: 20px ;
    }

    .container1{
        margin-bottom: 20px;
        max-width: 355px;
        align-items: center;
    }
    .container2{
        max-width: 355px;
        align-items: center;
    }

    .contact h3{
        text-align: center;
        font-size: 5rem;
        padding-bottom: 20px;
    }

    .contact_container button{
        padding-bottom: 10px;
    }

    .footer{
        display: block;
        margin-top: 50px;
    }

    .footer .footer_text{
        font-size: 1rem;
        text-align: center;
    }

    .footer .footer_icon{
        display: none;
    }
}
